.about {
  width: 1000px;
  margin: 100px auto 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;

  &__column {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__item {
    padding: 30px;
    border-radius: 3px;

    &__title {
      color: $black;
      font-size: 26px;
      font-weight: bold;
      line-height: 38px;
      margin-bottom: 30px;
    }

    &__text {
      font-size: 18px;
      line-height: 27px;
    }
  }
}
