@import 'normalize';

@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/ubuntu-regular.woff2') format('woff2'),
    url('../fonts/ubuntu-regular.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: local(''), url('../fonts/ubuntu-bold.woff2') format('woff2'), url('../fonts/ubuntu-bold.woff') format('woff');
}

$background: #f0f4fb;
$op-blue: #003399;
$blue: #062fc5;
$dark-blue: #00326c;
$grey: #404040;
$dark-grey: #757575;
$other-grey: #e3e3e3;
$shade: #f9f9f9;
$light-grey: #c2c2c2;
$black: #1a1a1a;

@import 'about';
@import 'footer';
@import 'header';
@import 'hero';
@import 'nav';
@import 'page';
@import 'section';
@import 'sidebar';
@import 'slideshow';
@import 'sub-nav';

body {
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}
