@import 'normalize';

@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/ubuntu-regular.woff2') format('woff2'),
    url('../fonts/ubuntu-regular.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: local(''), url('../fonts/ubuntu-bold.woff2') format('woff2'), url('../fonts/ubuntu-bold.woff') format('woff');
}

$background: #f0f4fb;
$op-blue: #003399;
$blue: #3366cc;
$blue-hover: #1454b7;
$grey: #697188;
$black: #1a1a1a;

@mixin desktop() {
  @media all and (min-width: 1000px) {
    @content;
  }
}

@import 'about';
@import 'footer';
@import 'hero';
@import 'nav';
@import 'page';
@import 'section';
@import 'sidebar';
@import 'slideshow';

body {
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}
