.footer-wrapper {
  overflow: hidden;
  padding: 50px;
  background-color: $background;
}

.footer {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  font-size: 14px;
  line-height: 25px;

  p {
    margin: 10px 0;

    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    color: $blue;
  }
}
