.footer-wrapper {
  overflow: hidden;
  padding: 25px;
  background-color: $background;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 25px;

  @include desktop() {
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
  }

  p {
    margin: 10px 0;

    @include desktop() {
      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  a,
  button {
    color: $blue;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }
}
