.header {
  max-width: 1000px;
  min-width: 650px;
  margin: 0 auto;

  &__title {
    margin: 90px 0 45px;
    font-size: 48px;
    font-weight: normal;
    line-height: 60px;
    color: $black;
  }

  &__text {
    max-width: 640px;
    font-size: 21px;
    line-height: 30px;
    color: black;
  }

  &__button {
    margin-top: 45px;
    margin-right: 25px;
    display: inline-flex;
    align-items: center;
    color: $blue;
    cursor: pointer;

    svg {
      margin-right: 10px;

      path {
        fill: $blue;
      }
    }

    &:hover {
      color: $grey;

      svg path {
        fill: $grey;
      }
    }
  }
}
