.hero-wrapper {
  overflow: hidden;
  padding: 25px 25px 50px;
  background-color: $background;

  @include desktop() {
    &--index {
      background-image: url('../header.svg');
      background-repeat: no-repeat;
      background-position: 90% 50%;
      background-size: contain;
      background-origin: content-box;
    }
  }
}

.hero {
  max-width: 1000px;
  margin: 0 auto;

  &__title {
    margin: 0;
    max-width: 575px;
    font-size: 58px;
    font-weight: bold;
    color: $op-blue;
    line-height: 75px;
  }

  &__text {
    margin-top: 45px;
    max-width: 640px;
    color: $black;
    font-size: 26px;
    line-height: 38px;

    &--small {
      font-size: 21px;
      line-height: 30px;
    }
  }

  &__link {
    margin-top: 35px;
    color: $dark-grey;
    font-size: 18px;

    svg {
      height: 10px;
      margin-left: 5px;

      polyline {
        fill: none;
        stroke: $dark-grey;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
  }
}
