.hero-wrapper {
  overflow: hidden;
  padding: 0 25px;
  background-color: $background;
}

.hero {
  max-width: 1000px;
  margin: 50px auto 50px;
  /*background-image: url('../hero.svg');
  background-repeat: no-repeat;
  background-position: center;*/

  &__title {
    margin: 0;
    font-size: 58px;
    font-weight: bold;
    color: $op-blue;
    line-height: 75px;
  }

  &__text {
    margin-top: 45px;
    max-width: 650px;
    color: $black;
    font-size: 26px;
    line-height: 38px;

    &--small {
      font-size: 21px;
      line-height: 30px;
    }
  }

  &__link {
    margin-top: 35px;
    color: $dark-grey;
    font-size: 18px;
  }
}
