.nav-wrapper {
  position: relative;
  z-index: 1000;
  padding: 0 25px;
  background-color: $background;
}

.nav {
  display: flex;
  max-width: 1000px;
  min-width: 650px;
  margin: 0 auto;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;

  &__item {
    display: inline-block;
    padding: 45px 0;
    margin-left: 50px;

    &:first-child {
      margin-left: 0;
    }

    &--title {
      font-weight: bold;
      border: none;
    }

    &:hover {
      color: $blue;
    }
  }
}
