.nav-wrapper {
  position: relative;
  z-index: 1000;
  padding: 25px;
  background-color: $background;

  @include desktop() {
    padding: 40px 25px;
  }
}

.nav {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  font-weight: bold;
  color: $grey;

  &__item {
    display: inline-block;
    padding: 5px 0;
    margin-left: 50px;

    &:first-child {
      margin-left: 0;
    }

    &.active {
      color: $black;
    }

    &:hover {
      color: $black;
    }
  }
}
