.glide__arrow {
  position: absolute;
  width: 50%;
  height: 100%;
  display: inline-flex;
  border: none;
  background: none;
  cursor: pointer;
  top: 0;
  bottom: 0;
  margin: auto 0;
  padding: 5px;
  box-sizing: content-box;
  align-items: center;

  &:focus {
    background: none;
  }

  &--left {
    left: 0;
    justify-content: left;
  }

  &--right {
    right: 0;
    justify-content: right;
  }
}

.glide__bullets {
  display: flex;
  justify-content: center;
}

.glide__bullet {
  width: 8px;
  height: 8px;
  margin: 0 3px;
  padding: 0;
  display: inline-block;
  background-color: $grey;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  &--active {
    background-color: $black;
  }
}
