.sub-nav-wrapper {
  position: relative;
  z-index: 100;
  background-color: #f0f4fb;
}

.sub-nav {
  display: flex;
  max-width: 1000px;
  min-width: 650px;
  margin: 0 auto;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;

  &__item {
    display: inline-block;
    padding: 22px 0;

    &--title {
      font-weight: bold;
    }

    &.active,
    &:hover {
      color: $blue;
    }
  }

  svg polyline {
    fill: none;
    stroke: $black;
  }
}
