.title1 {
  font-size: 48px;
  font-weight: normal;
  line-height: 60px;
  color: $black;
}

.title2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  color: $black;
}

.title1,
.title2 {
  &__capped {
    margin: 0;
  }
}
