<div class="hero-wrapper">
  <div class="hero">
    <h1 class="hero__title hero__title--black">
      About the Data in Publications Guide
    </h1>

    <div class="hero__text hero__text--small">
      Nowadays, data has become a central component of any kind of government publication, be it a report, a study, or a
      policy summary. Nonetheless, data is often not presented and published in a way that allows others to easily
      access, reuse and reference it.
    </div>

    <div class="hero__text hero__text--small">
      Formatted as an extendable checklist, this guide compiles tips, examples, and resources from across the EU. These
      recommendations will help you produce and publish accessible and reusable data, data visualisations, and
      publications that contain data.
    </div>
  </div>
</div>

<div class="about">
  <div class="about__column">
    <div class="about__item" style="background-color: #FFF7D9">
      <div class="about__item__title">
        Who is the guide for?
      </div>

      <div class="about__item__text">
        This guide is relevant to anyone involved in the process of producing and publishing data and information for EU
        Institutions, agencies and other bodies. This includes researchers, policy makers, communications specialists,
        data experts, IT-specialists, publication coordinators, designers, and contractors.
      </div>
    </div>

    <div class="about__item" style="background-color: #F0F4FB">
      <div class="about__item__title">
        What kind of publications does this guide target?
      </div>

      <div class="about__item__text">
        The publication can be any type of published content that contains or references data. This includes reports,
        studies and books, assessments, briefs and summaries, press releases, leaflets, and brochures – both in print
        and online. The data might be a primary source – data produced and analysed specifically for this publication –,
        or a secondary source – third-party data that is used as supportive material.
      </div>
    </div>
  </div>

  <div class="about__column">
    <div class="about__item" style="background-color: #FFE5CC">
      <div class="about__item__title">
        How should the guide be used?
      </div>

      <div class="about__item__text">
        The guide should be used at the very beginning of your publishing process – after you have received the O.K. for
        a publication, but before you have commissioned any work on it.
      </div>

      <div class="about__item__text">
        Ideally, all stakeholders are involved from the very beginning in the process. That way, each person has the
        chance to make use of the recommendations that are relevant to their field of responsibility, be it analysing
        data, writing text, creating visualisations, or publishing the data.
      </div>
    </div>

    <div class="about__item" style="background-color: #EBEBEB">
      <div class="about__item__title">
        Give us feedback!
      </div>

      <div class="about__item__text">
        The Data in Publications Guide was created by the Publications Office of the European Union. What you see here
        is a beta version of the guide. As we are continuing to develop it, we would love to hear your feedback. Please
        send us an email at
        <a href="mailto:OP-DATA-EUROPA-EU@publications.europa.eu">OP-DATA-EUROPA-EU@publications.europa.eu</a>
        with ‘Data in Publications Guide feedback’ in the subject line.
      </div>
    </div>
  </div>
</div>