<div class="nav-wrapper">
  <nav class="nav">
    <div>
      <LinkTo class="nav__item" @route="index">
        Data in Publications
      </LinkTo>

      <LinkTo class="nav__item" @route="about">
        About
      </LinkTo>
    </div>
  </nav>
</div>

{{outlet}}

<div class="footer-wrapper">
  <div class="footer">
    <div>
      <p>
        <strong>A Prototype by the<br />Publications Office of the<br />European Union</strong>
      </p>
    </div>

    <div>
      <p>
        <strong>Content</strong><br />
        Publications Office of the European Union
      </p>

      <p>
        <strong>Development and maintenance</strong><br />
        Adina Renner
      </p>

      <p>
        <strong>Queries and Feedback:</strong><br />
        <a href="OP-DATA-EUROPA-EU@publications.europa.eu">OP-DATA-EUROPA-EU@publications.europa.eu</a>
      </p>
    </div>

    <div>
      <p>
        <button type="button" {{on "click" this.copy}}>
          <Icons::FooterLink />
          Copy link
          <span style="opacity: 0">
            &nbsp;(copied to clipboard)
          </span>
        </button>
      </p>

      <p>
        <button type="button" {{on "click" this.share}}>
          <Icons::FooterMail />
          Email link
        </button>
      </p>

      <p>
        <a href="#">
          <Icons::FooterDocument />
          Download guide as checklist
        </a>
      </p>

      <p>
        <a href="#">
          <Icons::FooterDocuments />
          Download guide with descriptions
        </a>
      </p>
    </div>
  </div>
</div>