<div class="hero-wrapper hero-wrapper--index">
  <div class="hero">
    <h1 class="hero__title">
      A practical guide to user-friendly data in publications
    </h1>

    <div class="hero__text">
      This guide helps you with all data-related aspects of your publication: writing about data, creating data
      visualisations, and preparing and publishing data. The guide provides you with tips and resources that will make
      the data of your publication more accessible and reusable.
    </div>

    <div class="hero__link">
      <a href="#catalog" {{link-inline}}>
        Explore the guide
      </a>
    </div>
  </div>
</div>

<div class="page" id="catalog">
  <Catalog />
</div>