<div class="hero-wrapper">
  <div class="hero">
    <h1 class="hero__title">
      A practical guide to<br />
      user-friendly data in<br />
      publications
    </h1>

    <div class="hero__text">
      This guide helps you with all data-related aspects of your publication: writing about data, creating data
      visualisations and publishing data. Providing you with tips and resources, it will make data of your publication
      easier to be discovered, accessed and reused.
    </div>

    <div class="hero__link">
      <a href="#catalog" {{link-inline}}>
        Explore the guide
      </a>
    </div>
  </div>
</div>

<div class="page" id="catalog">
  <Catalog />
</div>