<div class="hero">
  <h1 class="hero__title">
    <span>
      A guide to user-friendly<br />
      data in publications
    </span>
  </h1>

  <p class="hero__text">
    The Data Documents Guide helps you produce and publish documents with data, charts, and text. Answer some simple
    questions to receive selected recommendations or browse the recommendations catalogue.
  </p>

  <LinkTo @route="questions" class="hero__button">
    Get Recommendations
  </LinkTo>
</div>